# PHPStan configuration disabled due to GitHub Actions compatibility issues
# parameters:
#     level: 6
#     paths:
#         - src
#         - tests
#     excludePaths:
#         - tests/bootstrap.php
#         - tests/Integration/WebInterfaceTest.php
#     treatPhpDocTypesAsCertain: false
#     reportUnmatchedIgnoredErrors: false
#     ignoreErrors:
#         # Deprecated config options moved to ignoreErrors
#         - identifier: missingType.iterableValue
#         - identifier: missingType.generics

#         # Libvirt functions are not available in analysis environment
#         - '#Function libvirt_connect invoked with \d+ parameter#'
#         - '#Parameter \#1 \$res of function libvirt_\w+ expects resource#'

#         # Known issues with resource type comparisons
#         - '#Strict comparison using === between string and false will always evaluate to false#'

#         # Test-specific issues
#         - '#Cannot cast array\|DateTimeImmutable\|int\|string\|null to string#'
#         - '#Parameter \#2 \$haystack of method PHPUnit\\Framework\\Assert::assertStringContainsString\(\) expects string#'
#         - '#Property class@anonymous.*\$mockResource \(resource\|null\) does not accept resource\|false#'
#         - '#Method class@anonymous.*::getConnection\(\) should return resource\|null but returns resource\|false#'
#         - '#Unreachable statement - code above always terminates#'

#         # Integration testing specific ignores - temporary for commit
#         - '#Parameter \#2 \$code of class VmManagement\\Exceptions\\NetworkException constructor expects int, array given#'
#         - '#Parameter \#2 \$code of class VmManagement\\Exceptions\\VMCreationException constructor expects int, array given#'
#         - '#Parameter \#2 \$string of method PHPUnit\\Framework\\Assert::assertStringStartsWith\(\) expects string, int\|string given#'
#         - '#Call to protected method getDHCPLeases\(\) of class VmManagement\\VMManager#'
#         - '#Cannot access property \$nodeValue on DOMElement\|null#'
#         - '#Property.*has no type specified#'
#         - '#Method.*has no return type specified#'
#         - '#Call to an undefined method.*::withParsedBody\(\)#'
